<!DOCTYPE html>
<html lang="en" ng-app="restApp">

<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <nav id="navbar">
        <ul>
            <li class="right" ng-controller="loginController"> <a href="#/" ng-show="getStatus" ng-click="logout()"> Logout</a>
            </li>
        </ul>
    </nav>
    <div class="row" ng-show="!getStatus">
        <div class="col s12">
            <div class="card-panel" ng-controller="loginController">
                <div>
                    <input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username">
                    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
                    <a href="" class="btn btn-default" ng-click="login(user)"> Login</a>
                    <a href="" class="btn btn-default" ng-click="register(user)"> Register</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" ng-controller="productController">
        <div class="text-center">
            <div class="col-lg-6 col-md-offset-3" ng-repeat="product in catalog">
                <div>
                    <img src="/public/img/{{item.img}}">
                    <a href="#/product/{{item.id}}"> {{item.title}}</a>

                </div>
                <div class="row">
                    <div class="product-description col-lg-3 col-md-offset-3">
                        <img src="/public/img/{{product.img}}">
                    </div>
                    <div class="col-lg-8 col-md-offset-3" >
                        <div class="product-text">
                            <h3> {{product.title}}</h3>
                            {{product.text}}

                            <p>

                                <a href="#/product/{{product.id}}">Reviews</a>

                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <ui-view></ui-view>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="product/product.controller.js"></script>
    <script src="product/product.services.js"></script>
    <script src="login/login.controller.js"></script>
    <script src="login/session.service.js"></script>
    <script src="login/login.service.js"></script>
</body>

</html>